.header {
  position: fixed;
  top: 0;

  width: 100%;
  display: flex;
  flex-direction: column;
  z-index: 1000;
  height: 100%;
  padding: 10px;
}
.top {
  display: flex;
  justify-content: space-between;
}
.bottom {
  height: 50vh;
  /* display: grid; */
}
.bottom a {
  text-decoration: none;
  color: black;
}
/* .headerLeft {
  flex: 0.2;
}*/
.headerCenter {
}
.headerLeft img {
  height: 15px;
  cursor: pointer;
}
.headerCenter a {
  margin: 0px 20px;
  cursor: pointer;
  color: black;
  text-decoration: none;
}
.headerRight {
  /* flex: 0.2; */
  display: flex;
  align-items: center;
}
.headerRight a {
  margin-left: 10px;
  text-decoration: none;
  color: black;
}
.headerRight img {
  display: none;
  cursor: pointer;
}

@media only screen and (max-width: 900px) {
  .headerCenter,
  .headerRight a {
    display: none;
  }
  .headerRight img {
    display: block;
  }
  .bottom {
    display: block;
    margin: 20vh;
    display: grid;
    text-align: center;
    z-index: 100;
  }
}
