.header {
  position: fixed;
  top: 0;
  /* background-color: white; */
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 10px 20px;
}
.header a {
  cursor: pointer;
  margin: 0px 20px;
  text-decoration: none;
  color: black;
}
.menuIcon {
  display: none;
}
.header img {
  height: 12px;
  cursor: pointer;
}
.sideNav a {
  color: white;
}
.sideNav {
  align-items: center;
  justify-content: space-between;
  position: absolute;
  left: 0;
  top: 0;
  height: 100vh;
  width: 35%;
  display: flex;
  flex-direction: column;
  padding: 13rem 0px;
  background-color: #181818;
}
@media only screen and (max-width: 900px) {
  .center,
  .right {
    display: none;
  }
  .menuIcon {
    display: block;
    cursor: pointer;
  }
}
